.ipynb_checkpoints
bioinformatics_freecodecamp/*
!bioinformatics_freecodecamp/bioactivity_prediction.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_4_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_5_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
