bioinformatics_freecodecamp/*
!bioinformatics_freecodecamp/2021-07-06-padelpy.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_1_Acetylcholinesterase_Bioactivity_Data_Concised.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_2_Acetylcholinesterase_Exploratory_Data_Analysis.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_3_Acetylcholinesterase_Descriptor_Dataset_Preparation.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_4_Acetylcholinesterase_Regression_Random_Forest.ipynb
!bioinformatics_freecodecamp/CDD_ML_Part_5_Acetylcholinesterase_Compare_Regressors.ipynb
